<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/assets/scripts/index.js"></script>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Main Page</title>
</head>

<body class="container">
    <h1>Todo app</h1>
    <div id="todo-table" class="col-sm-3">
        <form id="submitNewTask" action="/todo" method="post">
            <input type="text" name="new_task" id="new_task" placeholder="Add new task" required/>
            <button type="submit">Add Task</button>
        </form>
        <h2>Tasks</h2>
        <ul class="list-group">
            <% 
            let undonelist=""
            undoneTasks.forEach(function(item){ 
                undonelist +=`<li class="list-group-item tasks-undone">${item.task}</li>`
            });
            if(undoneTasks == "") undonelist = "No Tasks"
            %>
            <%- undonelist %>
        </ul>
        <h2>Completed Tasks</h2>
        <ul class="list-group">
            <%
            let donelist="" ; doneTasks.forEach(function(item){ 
                donelist +=`<li class="tasks-done list-group-item">${item.task}</li>`
            });
            if(doneTasks == "") donelist = "No Tasks"
            %>
            <%- donelist %>
        </ul>
    </div>
</body>

</html>