<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Main Page</title>
</head>
<body>
    <%- include('partials/navbar') %>
    <h1>Todo app</h1>
    <p>Manage your tasks here!</p>
    <h2>Tasks</h2>
    <form action="/" method="post">
        <input type="text" name="new_task" id="new_task" required/>
        <button type="submit">Add Task</button>
    </form>
    <table>
        <th>Task</th>
        <% 
        let undonelist = "";
        undoneTasks.forEach(function(item){
            undonelist += `<tr><td> ${item.task} </td>
                <td> <a href="/complete/${item._id}">complete</a></td>
                <td> <a href="/delete/${item._id}">delete</a></td>
                </tr>`
        });
        %>
        <%- undonelist %>
    </table>
    <h2>Completed Tasks</h2>
    <table>
        <th>Task</th>
        <% 
        let donelist = "";
        doneTasks.forEach(function(item){
            donelist += `<tr>
                <td> ${item.task} </td>
                <td> <a href="/reset/${item._id}">reset</a></td>
                <td> <a href="/delete/${item._id}">delete</a></td>
                </tr>`
        });
        %>
        <%- donelist %>
    </table>
</body>
</html>